.cart-product {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.cart-product-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cartProduct-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.cart-product-image {
    margin: 1px;
    padding: 1em;
    display: flex;
    justify-content: center;
    height: 25vh;
    width: 25vh;
    min-width: 25vh;
    min-height: 25vh;
}

.cart-product-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.cart-product-name {
    width: 200px;
    text-align: center;
    word-wrap: normal;
}

.cart-product-amount {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px;
}

.cart-product-amount button {
    padding: 5px;
    width: 50px;
}

.cart-product-total {
    width: 150;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px;
}

.cart-product-total button {
    padding: 5px;
    width: 50px;
}

.no-products {
    display: flex;
    text-align: center;
    gap: 1em;
    justify-content: space-between;
}

.no-products div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-products a {
    padding: 1em 2em;
}

.no-products-image {
    width: 300px;
    height: 300px;
}

.no-products-image img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 770px) {

    .aside {
        width: 90%;
    }

    .cart-product {
        flex-direction: column;
    }
    .cart-product-info {
        flex-direction: column;
    }
    .cartProduct-price {
        flex-direction: column;        
    }
    .cart-product-total {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 1em;
    }
}