#topBar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

#topBar h1{
    font-size: 28px;
}

#topBar input {
    width: 600px;
}


@media screen and ( max-width: 750px) {
    #topBar input {
        width: 200px;
    }
    #topBar {
        margin: 0px;
        padding: 0px;
    }
}